:host{
  margin-top: 1rem;
  display: block;
}
mat-spinner{
  margin: auto;
}
.post-image{
  width: 100%;
}
.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px 1px;
}
mat-paginator{
  margin-top: 5px;
}
